<!DOCTYPE html>
<html lang="{{craft.app.language}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteName}}</title>
    {% do craft.app.view.registerCssFile('/styles/normalize.css') %}
    {% do craft.app.view.registerCssFile('/styles/style.css') %}

</head>
<body>
    <header>    
      <nav>
        <input type="checkbox" name="menu-toggle" id="menu-toggle"/>
        <span></span>
        <span></span>
        <span></span>
      
        <ul id="nav-menu">
        <div class="logo">
           <a href="{{siteUrl}}"><img id="logo" src="/images/uploads/logo_field_hockey.png" alt="logo"></a>
        </div>
          <li><a href="{{siteUrl}}">Home</a></li>
          <li><a href="{{siteUrl}}sticks">Sticks</a></li>
          <li><a href="{{siteUrl}}kleding">Kleding</a></li>
          <li><a href="{{siteUrl}}accessoires">Accessoires</a></li>
        </ul>
      </nav>
    </header>

    {% block content %}
    {# hier komt de content #}
    {% endblock %}
   
     <footer>
        <p>&copy; 2024 Hannelore Van Buynderen</p>
    </footer>

</body>
</html>