{% extends "_layout" %}
{# {% do craft.app.view.registerCssFile('/@web/styles/style.css?1234') %} #}

{% block content %}


<section class="items-section">

{# {% set entries = craft.entries().section('accessoires').limit(3) %}

{% for entry in entries %} #}

{% set entries = craft.entries().section('accessoires').all() %}
{% for entry in entries %}

    <article>
        <picture>
            {# <source media="(max-width:959px)" srcset="{{entry.productFoto.one().url('productFoto')}}"> #}
            {# <source media="(min-width:960px)" srcset="{{entry.productFoto.one().url('productFoto')}}"> #}
            <img src="{{entry.productFoto.one().url()}}" alt="">
        </picture>
            <div>
              <h2><a href="{{entry.url}}">{{entry.title}}</a></h2>
              {# <p>{{entry.tekst}}</p> #}
              <a href= "#">Meer informatie</a>
            </div>
        </article>

    {% endfor %}  
        {# <a class="button btn-more" href="/news">More News</a> #}
    </section>



       {% endblock %}

