{% extends "_layout" %}

{% block content %}
    {% set categories = craft.entries().section('filterHome').all() %}
    <div class="filter-categories">
      {% for cat in categories %}
        <label><input type="checkbox" name="{{cat}}"/>{{cat}}</label>
      {% endfor %}
    </div>
    
    <section class="items-section all-items">
    {% set entries = craft.entries().section('home').all() %}

    {% for entry in entries %}
      <article
        {% for category in entry.filterHome %}
          data-{{category}}
        {% endfor %}
      >
        <picture>
        <img src="{{entry.productFoto.one().url()}}" alt=""> 
        </picture>
        <div>
            <h2><a href="{{entry.url}}">{{entry.title}}</a></h2>
            <a class="info" href= "#">Meer informatie</a>
        </div>

        <div class="categories">
            {% for category in entry.filterHome %}
                <span>{{category}}</span>
            {% endfor %}
          </div>
          {# <p>rating: <strong>{{entry.rating}} / 5</strong></p> #}
        </div>
      </article>
    {% endfor %}
  </section>
  <script>
    let selectedCategories = [];

    document.querySelectorAll(".filter-categories input").forEach((element) => {
      element.addEventListener("change", onSelectCategory);
    });


    function onSelectCategory(e) {
      if (selectedCategories.includes(this.name)) {
        let index = selectedCategories.indexOf(this.name);
        selectedCategories.splice(index, 1);
      }
      else {
        selectedCategories.push(this.name);
      }
      updateGrid();
    }

    function updateGrid() {
      document.querySelectorAll(".items-section article").forEach((el) => {
        el.style.display = "none";
        console.log(selectedCategories);
        for (let i = 0; i < selectedCategories.length; i++) {
          // console.log(el.hasAttribute("data-" + selectedCategories[i]));
          if (el.hasAttribute("data-" + selectedCategories[i])) {
            el.style.display = "block";
          }
        }
        if (selectedCategories.length == 0) {
          el.style.display = "block";
        }
      });
    }
  </script>
{% endblock %}

