{% extends "_layout" %}

{% block content %}
<section class="accessoires-section all-accessoires">
    {% set entries = craft.entries().section('accessoires').all() %}

    {% for entry in entries %} {# lussen door array van items #}
    
    <article>
        <img src="{{entry.productFoto.one().url('productFoto')}}" alt="">
        <div>
            <h2><a href="{{entry.url}}">{{entry.title}}</a></h2>
            <p>{{entry.tekst}}.</p>
            <a href="{{entry.url}}">Meer informatie</a>
        </div>
    </article>  
    {% endfor %}
</section>
{% endblock  %}
{# 
    <div class="accessoires">
        <div class="item">
                    <img src="{{entry.productFoto.one().url('productFoto')}}" alt="">
                    <h3>BRABO ELASTIC HAIRBAND NON-SLIP 10MM</h3>
                    <div class="prijs">
                        <p class="oude_prijs">€4,99</p>
                        <p>€4,49</p>
                    </div>
                    <a href="#">Toevoegen aan winkelwagen</a>
            </div>

            <div class="accessoires">
                <div class="item">
                    <img src="/catalogus/images/kleding/shinguards.webp" alt="">
                    <h3>OSAKA SHINGUARDS</h3>
                    <div class="prijs">
                        <p class="oude_prijs">€37,50</p>
                        <p>€33,75</p>
                    </div>
                    <a href="#">Toevoegen aan winkelwagen</a>
            </div>

            <div class="accessoires">
                <div class="item">
                    <img src="/catalogus/images/kleding/shinguards.webp" alt="">
                    <h3>OSAKA SHINGUARDS</h3>
                    <div class="prijs">
                        <p class="oude_prijs">€37,50</p>
                        <p>€33,75</p>
                    </div>
                    <a href="#">Toevoegen aan winkelwagen</a>
                </div>
            </div>
        </div>
{% endblock %} #}